<div class="movie-cards-container">
  <mat-card
    *ngFor="let movie of movies"
    (click)="openMovieDetailsDialog(movie)"
  >
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.Director.Name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.ImageURL" alt="{{ movie.Title }}" />
    <mat-card-content>
      <p>{{ movie.Description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="openGenreDialog(movie.Genre); $event.stopPropagation()"
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)="openDirectorDialog(movie.Director); $event.stopPropagation()"
      >
        Director
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="addToFavorites(movie._id); $event.stopPropagation()"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
