<div style="display: flex; flex-wrap: wrap">
  <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto; margin: 10px">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img mat-card-image [src]="movie.ImagePath" alt="{{ movie.Title }}" />
    <mat-card-content>
      <p>{{ movie.Description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- Link to open Genre Dialog -->
      <button mat-button color="primary" (click)="openGenreDialog(movie.Genre)">
        Genre
      </button>
      <!-- Link to open Director Dialog -->
      <button
        mat-button
        color="primary"
        (click)="openDirectorDialog(movie.Director)"
      >
        Director
      </button>
      <!-- Link to open Movie Details Dialog -->
      <button
        mat-button
        color="primary"
        (click)="openMovieDetailsDialog(movie)"
      >
        Details
      </button>
      <!-- Button to add movie to favorites -->
      <button mat-icon-button color="warn" (click)="addToFavorites(movie._id)">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
