/* filepath: c:\Users\pc\Desktop\CareerFoundry\AngularMyFlix\myFlix-Angular-client\src\app\user-registration-form\user-registration-form.component.scss */
.registration-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
