html,
body {
  height: 100%;
  /* background-color: black; */
  color: #333;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #4facfe, #00f2fe);
}

.welcome-card {
  width: 400px;
  text-align: center;
  padding: 20px;
  color: #333;
}
